<div class="scrollable" ng-controller="fotosController">

    <div class="scrollable-content">
        <div style="text-align: center;">
            <img src="client/Minhaprogramacao.png" style="padding: 10px" />
            <h3>Fotos</h3>
        </div>

        <button class="btn" ng-click="xico()">Get Foto</button>

        <form ng-show="lControle">
            <button class="btn btn-primary" ng-click="captureImage()">Get Foto</button>

            <div style="width: 100%; height: 220px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
            </div>
            <img id="img01" />
            <div id="uploadPreview"></div>
            <div id="lMessage"></div>



        </form>

        <div id="lMessage2" ng-show="!lControle">
            <p class="alert alert-warning">Usuário não logado</p>
            <a href="#/logon" class="btn btn-primary">Entrar</a>
        </div>


    </div>

</div>
