<div class="scrollable" ng-controller="fotosController">

    <div class="scrollable-content">

        <div style="text-align: center;">
            <img src="images/app_head.png" style="padding: 10px" />
            <h3>Registro</h3>
        </div>

        <form ng-show="lControle">
            <button class="btn" ng-click="xico()">#get</button><br />
            <input type="text" ng-model="par_code" /><br />
            <input type="text" ng-model="par_nome" />
            <br />

            <!--<button class="btn btn-primary" ng-click="captureImage()">Get Foto</button>

            <div style="width: 100%; height: 220px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
            </div>
            <img id="img01" />
            <div id="uploadPreview"></div>
            <div id="lMessage"></div>
-->
        </form>

        <div id="lMessage2" ng-show="!lControle">
            <p class="alert alert-warning">Usuário não logado</p>
            <a href="#/logon" class="btn btn-primary">Entrar</a>
        </div>


    </div>

</div>
