<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="pt-br" />
    <base href="" />
    <title>Evidências2014</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <script type="text/javascript" src="assets/js/jquery-1.9.1.min.js"></script>         
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script src="assets/js/gmap3.min.js" type="text/javascript"></script>
    <script src="assets/js/markerwithlabel.js" type="text/javascript"></script>
    <script src="assets/js/latlon.js" type="text/javascript"></script>
    <script src="assets/js/mapa.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style/maps.css">
    <link rel="stylesheet" href="style/code.css">
    <link rel="stylesheet" href="mobile-angular-ui/css/mobile-angular-ui-base.css">
    <link rel="stylesheet" href="mobile-angular-ui/css/mobile-angular-ui-desktop.min.css">
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="mobile-angular-ui/js/mobile-angular-ui.min.js"></script>
    <script src="mobile-angular-ui/js/mobile-angular-ui-touch-fastclick.min.js"></script>
    <script src="mobile-angular-ui/js/mobile-angular-ui-scrollable-overthrow.min.js"></script>    
    
    <!--mycodes-->
    <script src="scripts/mycode.js"></script>    
    <script src="controller/cadastroController.js"></script>
    <script src="controller/registroController.js"></script>    
    <script src="controller/logonController.js"></script>
    <script src="controller/evidenciasController.js"></script>
    <script src="controller/fotosController.js"></script>

    <!--cordova and features-->
    <script src="ng-cordova.js" type="text/javascript" charset="utf-8"></script>
    
    <script src="cordova.js" type="text/javascript" charset="utf-8"></script>
    <script src="barcodescanner.js" type="text/javascript" charset="utf-8"></script>
    
</head>

<body ng-app="AdWorkersMobile" ng-controller="MainController">    
    <!-- Sidebars -->
    <!--left-->
    <div ng-show="tvivo" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
        <h3 class="app-name">
            <img src="images/app_head.png" />
            Ponto
        </h3>
        <div class="scrollable">
            <div class="scrollable-content">
                <div class="list-group" toggle="off" bubble target="mainSidebar">
                    <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>                    
                    <a class="list-group-item" href="#/fotos">Fotos <i class="fa fa-chevron-right pull-right"></i></a>                    
                    <a class="list-group-item" href="#/sair" ng-click="Sair()">Sair<i class="fa fa-chevron-right pull-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="app" ng-show="tvivo">
        <!-- Navbars -->
        <div class="navbar navbar-app navbar-absolute-top">
            <!--top-->
            <div class="navbar-brand navbar-brand-center" yield-to="title">
                <span>Usuário: {{nome}}</span>
            </div>
            <!--right-->
            <div class="btn-group pull-left">
                <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                    <i class="fa fa-bars"></i>Menu
                </div>
            </div>
            
        </div>
        <div class="navbar navbar-app navbar-fixed-bottom">
            <div class="btn-group justified">
                <a href="#/home" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>
            </div>
        </div>
        <!--body-->
        <div class="app-body">
            <ng-view class="app-content"></ng-view>
        </div>
    </div>


</body>

</html>


